/* Badge.css */

.hasSeen {
  display: flex;
  align-items: flex-start;
  color: #37a81b; /* Default text color */
  border: 1px solid #cddbc9;
  background: #cddbc9;
  border-radius: 12px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.hasSeen.clicked .icon {
  color: #ad480f;
}

.hasSeen.clicked {
  color: #ad480f;
}

.hasSeen:hover {
  background: #cddbc9;
  transform: scale(1.05);
}

.hasSeen .icon {
  margin-right: 5px;
  margin-top: 3.5px;
}
